name: _determine_provider

on:
  workflow_call:
    secrets:
      AWS_ACCESS_KEY:
        required: false
      GOOGLE_SERVICE_ACCOUNT_EMAIL:
        required: false
      AZURERM_CLIENT_ID:
        required: false
    outputs:
      gcp:
        value: ${{ jobs.provider.outputs.gcp}}
      aws:
        value: ${{ jobs.provider.outputs.aws}}
      azure:
        value: ${{ jobs.provider.outputs.azure}}
jobs:
  provider:
    env:
      GCP: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_EMAIL }}
      AWS: ${{ secrets.AWS_ACCESS_KEY }}
      AZURE: ${{ secrets.AZURERM_CLIENT_ID }}
    runs-on: ubuntu-latest
    outputs:
      gcp: ${{ steps.gcp.outputs.gcp}}
      aws: ${{ steps.aws.outputs.aws}}
      azure: ${{ steps.azure.outputs.azure}}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - id: gcp
        run: |
          if [ -n "$GCP" ]; then echo "gcp=true" >> $GITHUB_OUTPUT ; else echo "gcp=false" >> $GITHUB_OUTPUT ; fi && \
          echo ${{ steps.gcp.outputs.gcp }}
      - id: aws
        run: | 
          if [ -n "$AWS" ]; then echo "aws=true" >> $GITHUB_OUTPUT ; else echo "aws=false" >> $GITHUB_OUTPUT ; fi && \
          echo ${{ steps.aws.outputs.aws }}
      - id: azure
        run: | 
          if [ -n "$AZURE" ]; then echo "azure=true" >> $GITHUB_OUTPUT ; else echo "azure=false" >> $GITHUB_OUTPUT ; fi && \
          echo ${{ steps.azure.outputs.azure }}
